*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{}
h1,h2,h3,h4,h5,h6{
	font-family: 'Nova Round', cursive;
}
.wrapper{
	background: rgba(0,0,0,0.5) url(images/bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;	
	min-height: 100vh;
	overflow: hidden;
	background-blend-mode: overlay;
}
.wave{
	position: absolute;
	width: 100%;	
	bottom: -100px;
	color: #fff;
	opacity: 1;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 80px;
	background: linear-gradient(to top, transpatent, rgba(0,0,0,0.6));
}
header .logo{
	float: left;
	font-weight: bold;
	font-size: 28px;
	color: #fff;
}
.menu{
	float: right;
	margin-top: 5px;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	margin: 0 25px;
}
.content{
	max-width: 55%;
	padding: 200px 80px 0;
	color: #fff;
}
.content h1{
	font-size: 48px;
}
.content p{
	font-size: 18px;
	padding: 20px 0;
}
.btn-group{
	margin-top: 45px;
}
.btn-group a{
	display: inline-block;
	padding: 15px 45px;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	margin-right: 5px;
}
.color1{
	background: #E4A601;
}

